@{
    ViewData["Title"] = "Strona Główna";    
}

<div class="text-center">
    <h1 class="display-4">Witamy w systemie raportowania czasu</h1>
    <p>W celu zaraportowania aktywności proszę się  zalogować</p>
    <p>Informacje o tworcy w zakladce <a style="color: coral;" asp-area="" asp-controller="Home" asp-action="Help">Pomoc</a></p>
</div>
